.header {
  min-height: 94vh;
  align-items: center;
}

.header h1 {
  margin: 0.5em;
  font-size: 2.5em;
}

.header .container {
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  padding: 1em 1em 2.5em 1em;
  margin-top: -7em;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 640px) {
  .header h1 {
    font-size: 3em;
  }

  .header .container {
    width: 50%;
  }
}
