footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .footer {
  background-color: #111111;
  padding: 1em 0 1.5em 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer .container h4 {
  margin: 0.5em 0;
}

.footer .container > div {
  padding: 0 0.5em;
  flex-basis: 100%;
}

.footer .container .section-header-text {
  text-transform: uppercase;
}

footer .copyright {
  background-color: #37474f;
}

@media only screen and (min-width: 700px) {
  .footer .container {
    flex-direction: row;
  }
}
