#gallery-page .gallery .gallery-sizer {
  width: 2%;
}

#gallery-page .gallery .gallery-item {
  width: 48%;
  margin-bottom: 3px;
}

#gallery-page .gallery .gallery-item img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.1s;
  transform: scale(1.03);
}

#gallery-page .gallery .gallery-item img {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  #gallery-page .gallery .gallery-sizer {
    width: 1%;
  }

  #gallery-page .gallery .gallery-item {
    width: 23%;
    margin-bottom: 5px;
  }
}
