#gallery-page .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

#gallery-page .gallery .preview {
  margin: auto;
}

#gallery-page .gallery .preview img {
  max-width: 120px;
}

@media only screen and (min-width: 640px) {
  #gallery-page .gallery .preview img {
    max-width: 300px;
  }
}
