#gallery-page .gallery .gallery-sizer {
  width: 2%;
}

#gallery-page .gallery .gallery-item {
  width: 48%;
  margin-bottom: 3px;
}

#gallery-page .gallery .gallery-item img {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  #gallery-page .gallery .gallery-sizer {
    width: 1%;
  }

  #gallery-page .gallery .gallery-item {
    width: 23%;
    margin-bottom: 5px;
  }
}
