body {
  min-height: 100vh;
  color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

section {
  display: flex;
  justify-content: center;
}

section h1 {
  font-size: 2em;
}

section .container {
  width: 85%;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-items {
  display: none;
}

@media only screen and (min-width: 640px) {
  section .container {
    width: 75%;
  }

  .nav-items {
    display: block;
  }
}
