body {
  color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 1.35;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

section {
  display: flex;
  justify-content: center;
}

section .header-text {
  text-transform: uppercase;
}

section .header-text h1 {
  margin-bottom: 0.5em;
}

section .header-text .border {
  margin-top: 0.5em;
  margin-left: 15%;
  width: 70%;
  border-bottom: 4px solid #37474f;
  border-radius: 10%;
}

section .container {
  width: 85%;
  padding-top: 1em;
  padding-bottom: 3em;
}

a {
  text-decoration: none;
  color: inherit;
}

main section {
  background-color: #212121;
}

.nav-items {
  display: none;
}

@media only screen and (min-width: 640px) {
  section .container {
    width: 75%;
  }

  .nav-items {
    display: block;
  }
}
