body {
  min-height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

section {
  display: flex;
  justify-content: center;
  flex: 1;
}

section h1 {
  font-size: 2em;
}

section .container {
  width: 85%;
  margin-bottom: 3em;
}

@media only screen and (max-width: 640px) {
  .nav-items {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  section .container {
    width: 75%;
  }
}
