html {
  min-height: 100vh;
  width: 100%;
}

body {
  font-size: 18px;
  min-height: 100%;
  color: #fdfdfd;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.35;
  font-weight: 200;
}

main {
  flex: 1;
  background-color: #212121;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

section {
  display: flex;
  justify-content: center;
}

section .header-text {
  text-transform: uppercase;
}

section .header-text h1 {
  font-size: 1.75em;
  margin-bottom: 0;
}

section .header-text .border {
  margin-top: 0.5em;
  margin-left: 15%;
  width: 70%;
  border-bottom: 4px solid #37474f;
  border-radius: 10%;
}

section .container {
  width: 85%;
  padding-top: 0.75em;
  padding-bottom: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

.drawer-item-active {
  background-color: rgba(153, 153, 153, 0.2) !important;
}

@media only screen and (min-width: 1100px) {
  section .container {
    width: 75%;
  }
}
