body {
  background-color: #37474F;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

section {
  display: flex;
  justify-content: center;
}

section h1 {
  font-size: 2em;
}
